.login-container{
    display: flex;
    gap: 20px;
    height: 100vh;
}
.login{
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40vw;
    background: white;
    padding: 40px;
    border-radius: 10px;
}