@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Prompt', sans-serif;
}
body{
  height: auto;
  background: rgb(239, 237, 234);
}
.App{
  height: auto;
}